# compiled output
/dist
/node_modules
/data
tsconfig.build.json
.vscode
k6-script.js
/lambda-function/node_modules
/lambda-function/dist
/lambda-function/function.zip
LFH-Docs
loki-data
env/ignore

# env
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PROD
docker-compose-prod.yml

# LOCAL
docker-compose-local.yml
nginx-local.conf
aws-local/
nest-script.js