<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear {{userName}},</p>
  <p style="color: #333; margin-bottom: 10px">The client has cancelled {{target}}
    {{platformId}} with less than 12 hours notice, so you will be paid for this job.
  </p>
  <p style="color: #333; margin-bottom: 10px">This email serves as a formal notification of the cancellation. Please note the time of this notification is the time it was sent to you.</p>
  <p style="color: #333; margin-bottom: 10px">This cancellation notice has been issued in accordance with your Contract.</p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
</div>