<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear Admin,</p>
  <p style="color: #333; margin-bottom: 10px">Please note that {{target}} (ID: {{platformId}}) was cancelled by the interpreter (ID: {{interpreterPlatformId}}).</p>
  <p style="color: #333; margin-bottom: 10px">Kindly review the situation and take appropriate action if needed — such as notifying the client, reassigning an interpreter, or cancelling the appointment.</p>
  <p style="color: #333; margin-bottom: 10px">Thank you for your attention to this matter.</p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
</div>