<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear Admin,</p>
  <p style="color: #333; margin-bottom: 10px"> The audio recording you requested will soon be available for download and playback. You can access the recording using the link below.</p>
  <p style="color: #333; margin-bottom: 10px">Please note that the recording will be available starting <strong>{{dateAccess}}</strong>, and will remain accessible through <strong>{{dateExpiration}}</strong>
  </p>
  <p style="color: #333; margin-bottom: 10px">After this period, the file will be returned to deep archive.</p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
  <div style="text-align: center; margin-top: 30px">
    <a href="{{audioUrlLink}}" style="
        background-color: #4c82f7;
        color: white;
        padding: 12px 35px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 14px;
        display: inline-block;">Access Audio Record</a>
  </div>
  <div style="text-align: center; margin-top: 30px">
    <a href="{{appointmentUrlLink}}" style="
          background-color: transparent;
          border: 1px solid #4c82f7;
          color: #4c82f7;
          padding: 12px 35px;
          border-radius: 5px;
          text-decoration: none;
          font-size: 14px;
          display: inline-block;
        ">Appointment Details</a>
  </div>
</div>undefined</div>