<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear {{adminName}},</p>
  <p style="color: #333; margin-bottom: 10px">We advise that your account ID {{platformId}} balance has fallen below zero, and in accordance with our Terms & Conditions, we suspended your account as of {{date}}.</p>
  <p style="color: #333; margin-bottom: 10px">We understand that this may be an oversight, and we want to make it as simple as possible for you to restore your account. To continue using our services, please add funds to your account.</p>
  <p style="color: #333; margin-bottom: 10px">Once the payment is processed, your account will be reactivated immediately, and you can resume accessing our services without interruption.</p>
  <p style="color: #333; margin-bottom: 10px">If you require any assistance or have questions regarding your account, please don’t hesitate to contact us at support@linguafrancahub.com.</p>
  <p style="color: #333; margin-bottom: 10px">Our support team is here to help.</p>
  <p style="color: #333; margin-bottom: 10px">Best regards,</p>
  <p style="color: #333; margin-bottom: 10px">The LFH Support Team</p>
</div>