<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear {{userName}},</p>
  <p style="color: #333; margin-bottom: 10px"> Your account has been deactivated.</p>
  <p style="color: #333; margin-bottom: 10px">If you need further details or assistance, please feel free to contact our support team at support@linguafrancahub.com.</p>
  <p style="color: #333; margin-bottom: 10px">We’re happy to help.</p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
</div>