<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear {{userName}},</p>
  <p style="color: #333; margin-bottom: 10px"> We’re writing to inform you about an upcoming change to the terms and conditions of your <strong>{{membershipType}}</strong> Membership with Lingua Franca Hub (LFH), effective <strong>{{endDate}}</strong>
  </p>
  <p style="font-weight: bold; margin-bottom: 10px">What’s Changing?</p>
  <p style="color: #333; margin-bottom: 10px">Your membership plan is scheduled for deactivation. Your subscription will remain active until the end of your current billing period, which ends on <strong>{{endDate}}</strong>. After this date, your membership will no longer be active, and you will lose access to the associated benefits. </p>
  <p style="font-weight: bold; margin-bottom: 10px">Why Are These Changes Happening?</p>
  <p style="color: #333; margin-bottom: 10px">These adjustments are part of our ongoing efforts to enhance the value of our services and ensure we continue delivering the best possible experience to our members.</p>
  <p style="color: #333; margin-bottom: 10px">
    <strong>What Do You Need to Do?</strong>
  </p>
  <p style="color: #333; margin-bottom: 10px"> If you have any questions or concerns about these changes, please contact us at support@linguafrancahub.com. We’ll be happy to assist.</p>
  <p style="color: #333;">Thank you for being a valued member of LFH.</p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
</div>