<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear User,</p>
  <p style="color: #333; margin-bottom: 10px">The new Appointment has been created by the Booking Officer. Please confirm the appointment.</p>
  <p style="color: #333; margin-bottom: 10px">Please verify if all the details are correct and confirm your appointment.</p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
  <div style="text-align: center; margin-top: 30px">
    <a href="{{link}}" style="
        background-color: #4c82f7;
        color: white;
        padding: 12px 35px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 14px;
        display: inline-block;">Verify Details</a>
  </div>
</div>