<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear {{user}},</p>
  <p style="color: #333; margin-bottom: 10px"> We’ve received your request to reset your password. Please click the button below to create a new password .</p>
  <p style="color: #333; margin-bottom: 10px">This link will remain active for the next {{duration}} only. If you did not request a password reset, please ignore this email or contact us immediately. </p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
  <div style="text-align: center; margin-top: 30px">
    <a href="{{link}}" style="
        background-color: #4c82f7;
        color: white;
        padding: 12px 35px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 14px;
        display: inline-block;">Reset Password</a>
  </div>
</div>