<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Hello,</p>
  <p style="color: #333; margin-bottom: 10px"> We want to inform you that your LFH Account {{#if roleName}}as {{roleName}}{{/if}} has been removed from our platform. </p>
  <p style="color: #333; margin-bottom: 10px"> Your {{#if roleName}}role{{else}}account{{/if}} will be permanently removed after {{duration}}. </p>
  <p style="color: #333; margin-bottom: 10px"> If you believe this action was taken in error, please contact your administrator or our support team immediately at support@linguafrancahub.com. </p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
</div>
